*, *:before, *:after {
  box-sizing: border-box; }

nav {
  background: #f6f4f6;
  border: 1px solid darkgrey;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; }

form {
  margin-bottom: 30px;
  margin-left: 30px; }

article {
  background: #f6f4f6;
  border: 1px solid darkgrey;
  border-radius: 7px;
  width: 60%;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
 }

img {
  border: 1px solid darkgrey;
  float: left;
  margin-right: 5px;
 }

input {
  padding: 5px;
  border-radius: 7px;
  border: 0;
  border: 1px solid darkgrey;
 }

  /* .fa-arrow-up , .fa-arrow-down {
    float: right;
  } */

select {
  border: 0; }
.author {
  float: right;
  padding-bottom: 20px;
}

.pos {
  color: green; }

.neg {
  color: red; }
